:root {
    --bg: #f2f2f2;
    --firstcol:hsl(31, 77%, 52%);
    --seccol:hsl(184, 100%, 22%);
    --thirdcol:hsl(179, 100%, 13%);
}
@font-face {
    font-family: myPageFont;
    src: url(font/deca/LexendDeca-VariableFont_wght.ttf);
}
@font-face {
    font-family: myPageHeadFont;
    src: url(font/sholders/BigShouldersDisplay-VariableFont_wght.ttf);
}
/* general styling */
* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body {
    background-color: var(--bg);
    font-family:myPageFont,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}
/* cols */
.cols {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    padding:200px 50px;
    width:450px;
    margin: auto;
}
.cols .col {
    padding:50px;
    height:500px;
}
/* columns content */
.col h2 {
    font-size: 45px;
    font-family:myPageHeadFont,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform:uppercase;
    color:var(--bg);    
    margin:40px 0;
}
.col p {
    color:var(--bg);
    opacity: .8;
    line-height:2.1;
}
.col1 , .col2 ,.col3 {
    position: relative;
}
.col1 button,.col2 button,.col3 button {
    position: absolute !important;
    left:40px;
    bottom:25px;
    /* margin-top:40px; */
    padding:15px 40px;
    border:2px solid var(--bg);
    border-radius: 100px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;

}

/* col style */
.cols .col1 {
    background-color: var(--firstcol);
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
}
.cols .col1 button {
    color: var(--firstcol);
    transition: all .3s ease;
}
.cols .col2 {
    background-color: var(--seccol);
}
.cols .col2 button {
    color:var(--seccol);
    transition: all .3s ease;
}
.cols .col3 {
    background-color: var(--thirdcol);
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;
}
.cols .col3 button {
    color:var(--thirdcol);
    transition: all .3s ease;
}
/* buttons hover */
.col button:hover {
    border:2px solid var(--bg);
}
.col1 button:hover {
    background-color: var(--firstcol);
    color:var(--bg);
}
.col2 button:hover {
    background-color: var(--seccol);
    color:var(--bg);
}
.col3 button:hover {
    background-color: var(--thirdcol);
    color:var(--bg);
}
/* footer */
.attribution {
    background-color: #191d27;
    padding:50px;
    font-size: 18px; text-align: center;
    color: #626262;  
}
.attribution a {
    color: #626262; 
}
.attribution a:hover {
    color:#f2f2f2;
}

@media only screen and (min-width: 1440px) {
    .cols {
        flex-direction: row;
        justify-content: center;
        width:auto;
        margin: auto;
    }
    .col {
        height:550px;
        width: 350px;
        
    }
    .cols .col1 {
        border-top-left-radius: 10px;  
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }
    .cols .col3 {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius:10px ;
    }
}